<div class="box">
    <form>
        <h1>Social</h1>
        <br>
        <br>
        <form>
            <input type="text" name="name" class="question" id="nme" required autocomplete="off" />
                <label for="nme">
                    <span>What's your name?</span>
                </label>
                    <textarea name="message" rows="2" class="question" id="msg" required autocomplete="off"></textarea>
                <label for="msg">
                    <span>What's your message?</span>
                </label>
            <input type="submit" value="Submit!" />

            <br>

        </form>

    </form>	
</div>

<div class="box_right">
    <form>
        <span class="text-center_right">Click to listen to Dennit Racing's Theme Song</span>
        <br>
        <link rel="preconnect" href="https://fonts.gstatic.com"> 
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <button>LISTEN NOW</button>
    </form>	
</div>